*{
    margin: 0;
    padding: 0;
}
body, html{
    position: relative;
    min-height: 100vh;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #c5c5c5;
}
.right_header{
    display: flex;
    align-items: center;
}
.header_link{
    margin-right: 10px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #c5c5c5;
}
.left_header{
    display: flex;
    align-items: center;
}
.post{
    margin-bottom: 20px;
}

.pagination{
    list-style: none;
    display: flex;
}

.page-item{
    padding: 5px;
    border: 1px solid #fff;
    background: #c5c5c5;
}

.active{
    background: #636b6f;
}

.page-item a, .page-item span{
    color: #000;
    text-decoration: none;
}

.input{
    display: flex;
    flex-direction: column;
}

.input_div{
    display: flex;
    align-items: center;
}

.input_btn{
    margin-left: 20px;
}

.input_btn input{
    padding: 10px;
}
